body {
  background-image: url("img2.jpg");
  background-size: 100%;
  /* width: 100%;
  height: 100%; */
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: pink;
}
p {
  text-align: center;
  color: white;
  font-size: x-large;
}
.name {
  color: rgb(156, 43, 181);
}
